.container {
    padding: 5px;
    border: 1px solid black;
}
.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container-book{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.btn-danger{
    background-color: #b8b8b8;
  }

  .save-div{
    display:flex;
    justify-content: center;
    border-radius: 50%;
}